*, *::after, *::before {
    font-family: Arial;
}

body {
    margin: 0;
}

.body {
    background-color: hsl(240, 3%, 7%);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    justify-content: center;
    align-items: center; 
}

.button {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue, 200), var(--saturation, 1%), calc(var(--lightness-offset, 0%) + var(--lightness, 51%)));
    color: #FFFFFF;
    fill: #FFFFFF;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
    margin: 1em;
}

.button:hover, .button:focus {
    --lightness-offset: 10%;
}

.game-board {
    border-radius: .25em;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(240, 57%, 95%);
}

.game-board div {
    height: 20px;
    width: 20px;
}

.controls {
    padding: .25em;
    border-radius: .25em;
    width: 33em;
    background-color: hsl(240, 57%, 95%);
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}



.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: lightgrey;
}

.frog {
    background-color: green;
}